<div class="container">

  <div class="page_header">
    <h3>Modify Gossip</h3>
  </div>

  <div>
<%
=begin%>
 
    <% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
<%
=end%>
  <%= form_tag gossip_path, method: "patch" do %>

      <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <div >
          <%= text_field_tag 'title', @gossip.title, class: "form-control" %>
        </div>   
      </div>

      <div class="mb-3">
        <label for="Content" class="form-label">Content</label>
        <div >
          <%= text_area_tag 'content', @gossip.content, class: "form-control"  %>
        </div> 
      </div>
      <%= submit_tag "Update Gossip", class: "btn btn-primary" %>
      
  <% end %>

       

  </div>
</div>